.cart-drop-down {
    display: none;
    width: 268px;
    background: $white;
    box-shadow: 0 16px 20px rgba(216, 216, 216, 0.75);
    border: 1px solid rgba(216, 216, 216, 0.75);
    position: absolute;
    top: 92px;
    right: 0;
    z-index: 10;

    &__list {

    }
    &__list-item {
        display: flex;
        padding: 22px;
        border-bottom: 1px solid #e0e0e0;
    }
    &__item-img {
        width: 73px;
        min-width: 73px;
        height: 57px;
        background: #d4d4d4;
        border: 1px solid #e0e0e0;
        overflow: hidden;
    }
    &__item-pic {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
    &__item-info {
        padding-left: 14px;
    }
    &__item-name {
        display: block;
        color: #263238;
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 6px;
        max-width: 135px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    &__item-category {
        color: #84b743;
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 10px;
    }
    &__item-price {
        color: #000000;
        font-size: 16px;
        font-weight: 500;
    }
    // bottom
    &__bottom {
        padding: 16px 16px 12px;
    }
    &__total-price {
        display: flex;
        justify-content: space-between;
        color: $dark-gray;
        font-size: 16px;
        font-weight: 700;
        padding: 0 24px 16px 14px;
    }

    &__actions {
        display: flex;
        justify-content: space-between;
        color: $white;
        font-size: 14px;
        font-weight: 700;
    }

    &__action-cart {
        width: 105px;
        height: 35px;
        text-align: center;
        line-height: 35px;
        background: $green-apple;
        color: inherit;
        text-decoration: none;
    }

    &__action-checkout {
        width: 123px;
        height: 35px;
        text-align: center;
        line-height: 35px;
        background: $tomato;
        color: inherit;
        text-decoration: none;
    }

}